<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <img src="./Logo.png" alt="CrownpassLogo">
</head>
<body>
    <h1 style="font-family: Verdana", style="text-align: center"> Welcomd to the Crownpass Covid-19 Vaccine Centre Application </h1>
<form method="post">
    <label for="staff", style="font-family: Verdana">Staff Number:</label><br>
    <input type="text" id="staff" name="staff"><br>
    <label for="username", style="font-family: Verdana">First Name:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password", style="font-family: Verdana">Password:</label><br>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>