<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <img src="/archive/Logo.png" alt="CrownpassLogo">
</head>
<body>
    <h1 style="font-family: Verdana", style="text-align: center"> Welcome {{name_string}} to the Crownpass Covid-19 Vaccine Centre Application </h1>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="font-family: Verdana">From this page you are able to choose one of the functions </div>
    <br>
    <br>
    <a href="{{url_for('account')}}", style="font-family: Verdana">Account Manager</a>
    <br>
    <br>
    <a href="{{url_for('accountDetailEdit')}}", style="font-family: Verdana">Vaccines Administered</a>
</body>
